body
{

    font-family: 'Caveat', cursive;
    background-color:lightskyblue;

}

.container
{
    
width: 80%;
margin: auto;

}

#dados
{

    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 100px 50px;
    box-shadow: -10px 5px 20px 0px rgb(80, 80, 80);
}

#perfil-card
{

    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-padding
{

    padding: 50px;

}

#card-dados
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#contato
{

    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.btn
{
    background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px 50px;
    font-weight: 700px;
    color: black;
    text-decoration: none;
    user-select: none;

}

footer
{

    text-align: center;
    margin-top: 50px;
}

h1
{

    font-size: 40px;
    
}

hr
{

    height: 1px;
    background-color: black;
    width: 50%;

}